/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-jan-2015, 13:14:59
    Author     : LanceDH
*/

body{
    background-color: #CCCCCC
}

header{
    height: 75px;
}

#centerDiv{
    width: 70% ;
    min-width: 700px;
    margin-left: auto ;
    margin-right: auto ;
}

.charListBlock{
    display: block;
    min-width: 260px;
    width: 33.33%;
    float: left;
}

.charListBlock > .left{
    display: block;
    float: left;
    height: 100%;
}

.charListBlock > .right{
    display: block;
    width: 75% ;
    height: 64px;
    float: left;
}

.right > .name{
    height: 49%;
}

.CharDetailLeft{
    display: block;
    float: left;
    width: 50%;
    //height: 100%;
}

.CharDetailRight{
    display: block;
    float: right;
    width: 50%;
    //height: 100%;
}

.itemBlock{
    display: block;
    min-width: 260px;
    width:100%;
    float: left;
}

.itemBlock > .left{
    display: block;
    float: left;
    height: 100%;
}

.itemBlock > .right{
    margin: 2px 0px 0px 10px;
    display: block;
    //width: 75% ;
    height: 64px;
    float: left;
}

.floatClear{
    clear: both;
}

#charName{
    font-size: 25pt;
    font-weight: bold;
}

#charComboInfo{
    font-size: 15pt;
    font-weight: bold;
    padding-bottom: 25px;
}